*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
  
    .header{
        display: flex;
        font-size: 25px;
        padding-left: 30px;
        padding-top: 15px; 
        /* border: 1px solid red; */
        background-color: #010409;
        color: #e6edf3;
        height: 60px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    }

    .icon-heading{
        padding-left: 10px;
       
    }
    .icon-heading a{
        color:#e6edf3;
        text-decoration: none;
    }

    .fa-brands{
        font-size: 30px;
    }
    .nav-links{
        flex: 1;
        text-align: right;
      
        
    }
    .nav-links ul li{
        list-style: none;
        position: relative;
        text-align: right;
        display: inline-block;

    }
    .nav-links ul li a{
        color:#e6edf3;
        text-decoration: none;
        margin-right:30px;
        font-size: 13px;
       
    }

    .nav-links ul li::after{
        content: '';
        width:0%;
        height: 1px;
        background:#e6edf3;
        display:block;
        transition: 0.1s;
    
    }
    
    .nav-links ul li:hover::after {
        width: 80%;
    }
/* section nav responsive */
    @media(max-width: 700px) {

        .header{
            background-color: #0d1117;
        }
        
            .nav-links ul li a {font-size: 14px;
                padding-left: -10px;
                
        }
    .fa-brands{font-size: 30px;
        
    }
    .icon-heading{
        font-size: 20px;
        padding-top: 8px;
    }
}
/* hero section */
.hero{
    background-color: #010409;
    height: 460px;
    /* border:1px solid red; */
   
    
}
.hero h1{
    
    padding-left: 28%;
    padding-top: 40px;
    font-size: 72px;
    color:#e6edf3;
    margin-right: 16px;
    font-weight: 800;
}

.hero p{
    color: #6e7681;
    text-align: center;
    font-size: 24px;
}
.hero-btn{
  
    background-color: white;
    margin-left: 28%;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: #0d1117;
    cursor: pointer;
    font-weight: 700;
    
}

.hero a{
   text-align: center;
    color:#e6edf3;
    padding-left: 28%;
    text-decoration: none;
}
/* hero sec responsive */
@media(max-width: 700px) 
{

    .hero{
        background-color: #0d1117;
    }
    .hero h1{
        display: start;
        font-size:40px;
       padding-left: 20px;
       line-height: 44px;
      padding-top:13px;
      
       
       
    }

    .hero p{
        font-size: 18px;
        padding-left: 20px;
        text-align:start ;
    }
.hero-btn{
    padding-top:10px;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 12px;
    margin-top: 10px;
    font-weight: 500;
}

.hero a{
    padding-left: 10px;
}
}
/* main section */
.main-sec{
    height: 750px;
background-color: #0d1117;
background: transparent 0.5;
/* position: relative; */
background-image: url(images/light-glow.svg);





}

.main-sec h2 {
  text-align: center;
  padding-top: 60px;
  color: #e6edf3;
  font-size: 30px;
  font-family:monospace;
  font-weight: 100;    
}
.main-sec p{
    text-align: center;
    padding-top: 10px;
    color: #6e7681;
}
.main-sec span{
    color: rgb(17, 49, 231);
}


.box-main{
    height: 480px;
    width:1000px ;
    position: relative;
    background-image: url(images/light-glow.svg);
    background-color: #0a080a;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}
.circle{
    padding:1%;
    
    color: #1c283b;
}
.main-sec h3
{
color: #e6edf3;
line-height: 3;
}
.box-txt {
    padding-left: 5%;
    font-size: 10px;
}

.main-sec h1{
    color: #e6edf3;
    text-align: center;
    padding-top: 40px;
    font-weight: 800;
}

/* main section responsive */


@media(max-width: 700px) 
{

    .main-sec{
        padding-top:0px;
        
    }

    .box-main{
        width: 300px;
       
       
    }
   
    
}






